h2{
    font-family: Arial, Helvetica, sans-serif;
     color: aqua;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: ;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
button{
    border-radius: 20px;
    border: 30px;
   width: 130px;
   height: 60px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;

}
body{
    max-width: 500px;
    margin: auto;
    border-radius: 30px;
}